@import "Projects.css";


html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #333;
  color: white;
  font-style: oblique;
}

#particles {

  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
}

#intro {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  display: block;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.navBar {
  border: dashed 1px green;
  display: inline-flex;
  height: 15%;
  max-height: 150px;
  min-height: 95px;
  width: 100%;
  right: 0%;
  top: 0%;
  

 
}

.navBar h1{
  color: aqua;
  display: none;
}
.navBar img , a{
  height: 100%;
  border: deeppink dashed 1px;
}

.currPage {
  color: black;
  
}

.navLinks {
  
  display: flex;
  justify-content: space-around;
  width: 90%; 
  height: 50px;
  margin: auto;
  margin-bottom: 0%;
}

.navLinks li {
  justify-content: space-around;
  text-align: center;
  list-style: none;
  font-size: 28px;
  font-weight:bold;
  cursor: pointer;
  width: 100%;
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
  

  

.navLinks li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.navLinks li:hover {
  letter-spacing: 2px;
}
.navLinks li:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.navLinks li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.navLinks li:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.currPage {
  background-color:rgba(0, 0, 0, 0.5);
}


.menuBtn{

  height: 30px;
  width: 20px;
  display: none;
}

.pageContent {
  
  border: blue 2px dashed;
  width: auto;
  height: auto;
}
.footer {
  position: absolute;
  right: 0;
  width: 100%;
  text-align: center;
}



/* mobile screen*/
@media screen and (max-width: 600px){
  .navBar {
    background-color: darkgoldenrod;
    display: block;
  }
  .menuBtn {
    position: absolute;
    right: 2%;
    top: 0%;
    display: inline-flex;
  }
  .navLinks {
    background-color: #333;
    display: block;
    position: absolute;
    right: 0%;
    height: 100%;
    width: 50%;
    
  }
  .navLinks li {
    padding: 10%;
  
    text-justify:distribute-all-lines;
    
  }
}








