html, body{
    padding: 0;
    margin: 0;
    background-color: #333;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
.head{
    overflow: hidden;
    display: block;
    text-align: center;
    background-color: black;
    height: 10em;
}
.img{
    height: 10em;
    float: left;
}
.head h1{
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 0px;
    
}
.closebtn {
  float: right;
  height: 40px;
  background: none;
  color: #818181; 
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 40px;
  font-display: center;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}


.page {
    margin: 0px;
    display: block;
    height: 100%;
    overflow: hidden;
 /*   border: 3px dashed brown;*/
}
.tail {
    float: right;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    margin-left: 100%;   
    top: 10em;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: block;
  }
  
  .menu button{
    font-size: 30px;
    color: #818181;  
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    display: block;
    transition: 0.5s;
    padding: 15px;
    text-align: center;
    width: 100%;
  }

  .menu button:hover{
    color: #f1f1f1;
    font-size: 40px;
  }
  .menu .currpage{
      color: #f1f1f1;
      font-size: 40px;
  }
  .nulldiv {
    padding: 20px;
  }
  
  @media only screen and (max-width: 800px){
    .closebtn{
      border: 3px dashed brown;
    }
  }