@import "Projects.css";

html, body {
    color: whitesmoke;
    font-style: oblique;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #333;
    color: white;
    border: indigo dashed 3px;
  }
  *{
    margin: 0%;
    padding: 0%;
    scroll-behavior: auto;
    box-sizing: border-box;
  }
  #particles {
    display: flex;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
  }
  
  #intro {
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .navBar {
    border: dashed 1px green;
    display: block;
    position: fixed;
    text-align: center;
    height:  150px;
    width: 100%;
    right: 0%;
    top: 0%;
    /* background-color: #333; */
  }
  
  .navBar h1{
    color: aqua;
    display: none;
    /*remove it*/
  }
  .navBar img , a{
    height: 100%;
    border: deeppink dashed 1px;
  }
  
  .navLinks {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 50%; 
    right: 0%;
    transform: translateX(100%);
    align-items: center;
    background-color: #333;
    transition: all 0.4s;
  }
  
  
  .navLinks li {
    list-style: none;
    font-size: 28px;
    font-weight:bold;
    cursor: pointer;
    width: 100%;
    height: 60px;
    color: #FFF;
    transform: translateX(100%);
    /* transform: translateY(100%); */
    
  }

  .navLinks li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    background-color: rgba(255,255,255,0.1);
  }
  
  .currPage {
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 1;
    border-bottom-style: solid;
    letter-spacing: 5px;
    border-bottom-color: rgba(255,255,255,0.5);

  }
  
  
  .menuBtn{
  
    height: 80px;
    width: 80px;
    position: fixed;
    cursor: pointer;
    right: 3%;
    top: 2%;
    display: block;
    border: olive 1px dashed;
  }
  .menuBtn div{
      height: 10px;
      width: 100%;
      background-color: azure;
      margin-top: 12px;
      transition: all 0.5s;
  }

  .btnClose [id='line1'] {
    transform: rotate(-45deg) translate(-20px,10px);
    width: 90px;
    /* background-color: aqua; */
    
  }
  .btnClose [id='line2'] {
    opacity: 0;
    background: none;
  }
  .btnClose [id='line3'] {
    transform: rotate(45deg) translate(-20px,-10px);
    width: 90px;

   
  }

  .toggleNavLinks{
    transform: translateX(0%);
    transition: all 0.5s;
  }
  .toggleNavLinks li{
    transform: translateX(0%);
    /* transform: translateY(0%); */
  }
  
  .pageContent { 
    border: blue 2px dashed;
    width: 100%;
    height: auto;
    margin-top: 150px;
    overflow: hidden;
  }
  footer {
    position: fixed;
    bottom: 1%;
    right: 3%;
    text-align: center;
    background: none;
  }