@import "Projects.css";


html, body {
  color: whitesmoke;
  font-style: oblique;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
    margin: 0;
    background-color: #333;
    color: white;
  /* border: indigo dashed 3px; */
}
*{
  margin: 0%;
  padding: 0%;
  scroll-behavior: auto;
  box-sizing: border-box;
}
#particles {
  display: flex;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
}

#intro {
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: block;
}

.navBar {
  /* border: dashed 1px green; */
  display: inline-flex;
  height: 15%;
  max-height: 150px;
  min-height: 95px;
  width: 100%;
  right: 0%;
  top: 0%;
}

.navBar h1{
  color: aqua;
  display: none;
}
.navBar img , a{
  height: 100%;
  /* border: deeppink dashed 1px; */
}

.navLinks {
  
  display: flex;
  justify-content: space-around;
  width: 90%; 
  height: 50px;
  margin: auto;
  margin-bottom: 0%;
  transition: all 1.5s;
}



.navLinks li {
  justify-content: space-around;
  text-align: center;
  list-style: none;
  font-size: 28px;
  font-weight:bold;
  cursor: pointer;
  width: 100%;
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
  

  

.navLinks li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.navLinks li:hover {
  letter-spacing: 2px;
}
.navLinks li:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.navLinks li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.navLinks li:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.currPage {
  background-color:rgba(0, 0, 0, 0.5);
}


.ScrollBar  .navLinks {
  position:fixed;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 40px;
  background-color: #333;
  transition: all 0.5s;
}

.ScrollBar .navLinks .currPage{
  background-color:rgba(0, 0, 0);
}


.menuBtn{

  height: 30px;
  width: 20px;
  display: none;
}

.pageContent {
  
  /* border: blue 2px dashed; */
  width: 100%;
  height: auto;
  overflow: hidden;
}
footer {
  position: fixed;
  bottom: 1%;
  right: 3%;
  text-align: center;
  background: none;
}

@media only screen and (max-width: 800px){
  .ScrollBar h1{
    display: inline;
    position: fixed;
    font-size: 40px;
    letter-spacing: 10px;
    left: 0%;
    width: 100%;
    height: 60px;
    background-color: #333;
  }

  .ScrollBar .menuBtn {
    background-color: #333;
    top: 2px;
    right: 30px;
  }
  .navBar {
    border: dashed 1px green;
    display: block;
    text-align: center;
  }
  
  .navBar h1{
    color: aqua;
  }

  .ScrollBar .navLinks{
    width: 50%;
    height: 80%; 
    right: 0%;
    top: 60px;
    position: fixed;
  }
  .navLinks {
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 80%; 
    right: 0%;
    top : 150px;
    transform: translateX(100%);
    align-items: center;
    background-color: #333;
    transition: all 0.4s;
    border: dashed 1px bisque;
  }
  
  
  .navLinks li {
    list-style: none;
    font-size: 28px;
    font-weight:bold;
    cursor: pointer;
    width: 100%;
    height: 60px;
    color: #FFF;
    transform: translateX(100%);
    
  }

  .navLinks li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    background-color: rgba(255,255,255,0.1);
  }
  
  .currPage {
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 1;
    border-bottom-style: solid;
    letter-spacing: 5px;
    border-bottom-color: rgba(255,255,255,0.5);

  }
  
  
  .menuBtn{
  
    height: 60px;
    width: 60px;
    display: flex;
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 2%;
    display: block;
  }
  .menuBtn div{
      height: 9px;
      width: 60px;
      background-color: azure;
      margin-top: 8px;
      transition: all 0.5s;
  }

  .btnClose [id='line1'] {
    transform: rotate(-45deg) translate(-15px,8px);
    width: 70px;
    /* background-color: aqua; */
    
  }
  .btnClose [id='line2'] {
    opacity: 0;
    background: none;
  }
  .btnClose [id='line3'] {
    transform: rotate(45deg) translate(-18px,-8px);
    width: 70px;
   
  }

  .toggleNavLinks{
    transform: translateX(0%);
    transition: all 0.5s;
  }
  .toggleNavLinks li{
    transform: translateX(0%);
    /* transform: translateY(0%); */
  }

  /* .ScrollBar {
    position: fixed;
  } */
  
  /* .pageContent { 
    border: blue 2px dashed;
  } */

}



