
.all_project {
    padding: 10px;
}
.project{
    /*border: 3px dashed brown;
   */
    border-bottom:1px solid black;
    text-align: center;
    padding: 30px;
}

.project h2{
    margin-top: -2%;
    transition: all 0.3s;
    /*border: lavender 3px dashed;
    */
}
.link_repo{
    margin-left: 30%;
    font-size: 20px;
    color: crimson;
    text-decoration: none;
}
a:visited{
    color: cyan;
}
a:hover{
    color: chartreuse;

}
a:active{
    color: chartreuse;
}

.project span {
    justify-content: space-around;
    text-align: center;
    list-style: none;
    font-size: 28px;
    font-weight:bold;
    cursor: pointer;
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    display: inline-flex;
  }

  .project span::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .project span:hover {
    letter-spacing: 2px;
  }
  .project span:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .project span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .project span:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

.name {
    color: black;
    text-align: center;
   
    
}

.show span {
    background-color:rgba(0, 0, 0, 0.9);
    opacity: 1;
    border-bottom-style: solid;
    letter-spacing: 2px;
    border-bottom-color: rgba(255,255,255,0.5);
    transform: rotate(180deg);
}

.show h2 {
    transform: rotateY(180deg);
    transition: all 0.3s;
    cursor: hand;
}

