html, body{
    padding: 0;
    margin: 0;
    background-color: #333;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
.head{
    overflow: hidden;
    display: block;
    text-align: center;
    background-color: black;
}
.head img{
    height: 5em;
    float: left;
}
.head h1{
    margin-left: 40px;
    
}
#topnav{
    background-color: #333;
    overflow: hidden;
    height: 45px;
    /*border: 3px dashed brown;*/ 
}

#topnav button {
    background-color: #333;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    width: 25%;
    height: 100%;
    transition-duration: 1.5s;
    overflow: hidden;
    cursor: pointer;
    float: left;
    outline: none;
}

#topnav button:hover {
    background-color: black;
    font-size: 30px;  
}
#topnav button.active {
    background-color: #4CAF50;
    color: white;
}

#page {
    margin: 0px;
    margin: 2px;
    border: 3px dashed brown;
}
.tail {
    position:absolute;
    float: right;
}